*{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
}

.wrap{
    width: 800px;
    height: 600px;
    margin: 20px auto;
    border: 2px solid #E3E4E8;
}

.messanger{
    width: 496px;
    height: 100%;
    float: left;

}

#log{
    width: 100%;
    height: 540px;
    padding-left: 15px;
    font-size: 14px;
    color: #618198;
    border: 1px solid #E3E4E8;
}

input{
    width: 395px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 0;
    margin-left: 7px;
    border: none;
}
button{
    width: 75px;
    height: 40px;
    cursor: pointer;
    color: #618198;
    margin-top: 5px;
    background-color: rgb(227, 234, 231);
    border: none;
    border-radius: 2px;
}
button:hover{
    background-color: rgb(213, 220, 217);
}
.chats{
    width: 150px;
    height: 100%;
    font-size: 14px;
    background-color: #EDEEF0;
    border: 1px solid #E3E4E8;
    float: left;
}

.chats ul li{
    list-style: none;
    color: #618198;
    padding: 10px;
    text-align: center;
}

.chats ul li:hover{
    cursor: pointer;
    background-color: #E5EBF1;
}

.online-users{
    width: 150px;
    height: 100%;
    background-color: #EDEEF0;

    float: left;
}

#online li{
    font-size: 16px;
    color: #618198;
    list-style: none;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

#online li:before{
    color: #00b913; /* Цвет маркера */
    font-weight: bold;
    content: "•";
    padding-right: 5px;
}
