div{
    border: 1px solid black;
    min-height: 25px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}



div:nth-child{
    background-color: red;

}

.head{
    width: 800px;
    height: 250px;
    margin: 0 auto;
    padding: 0;
    border: none;
}
#in{
    width: 760px;
    height: 100px;
}

button{
    width: 765px;
    height: 25px;
    background-color: #2b2b58;
    color: #dee2de;
}

#out{
    width: 780px;
    min-height: 50px;
    background-color: #ffe4a8;
    margin: 0 auto;
}