#calculator{
    width: 225px;
    height: 270px;
    background-color: #dee2de;
    padding-left: 5px;
    margin: 0 auto;
    border: 1px solid black;
}

#out {
    width: 205px;
    height: 50px;
    background-color: #c5d7c5;
    padding-right: 5px;
    margin: 5px 5px 5px 2px ;
    border: 2px solid black;
    font-size: 22px;
    font-family: 'Big Shoulders Text', cursive;
    text-align: right;
}

button {
    width: 50px;
    height: 50px;
    background-color: #FCFCFC;
    cursor: pointer;
    margin-left: 1px;
    border: 1px solid lightgray;
    font-weight: bold;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 15px;
}

button:hover {
    background-color: #ececec;
}